$border-color: #ddd;
$background-color: #f5f5f5;
$heading-color: #333;
$paragraph-color: #666;
$rating-color: #0DB6FF;

// General Section Styling
.review-single {

    .block-container {
        border-radius: 5px;

        margin: 0 auto;
    }

    .heading-text {
        text-align: left;
        margin-bottom: 30px;

        h2 {
            font-size: 28px;
            color: $heading-color;
        }
    }

    .inner-container {}

    .summary-row {
        display: flex;

        @media (max-width: 992px) {
            flex-direction: column;
        }

        .image-wrapper {
            .image-container {
                flex: 1;
                max-width: 278px;
                margin-bottom: 0px;
                border-radius: 10px;

                @media (max-width: 992px) {
                    margin: 0 auto;
                }

                img {
                    width: 100%;
                    height: 100%;
                    border-radius: 10px;
                    object-fit: contain;
                }
            }

            .review-meta {
                max-width: 275px;

                .review-bonus-text {
                    padding: 10px 15px;
                    border-radius: 10px;

                    p {
                        margin: 0;
                    }
                }
            }

            .casino-details {
                .buttons-container {
                    margin: 9px 0;
                    display: flex;
                    align-items: center;

                    a {
                        flex: 1;
                        padding: 20px 15px;
                        font-size: 2rem;
                        text-align: center;
                    }
                }
            }
        }

        .summary-wrapper {
            flex: 1;
            margin-left: 35px;
            overflow-x: auto;

            /* Enable horizontal scrolling */
            @media (max-width: 992px) {
                margin-left: 0px;
            }

            /* Scrollbar styling */
            ::-webkit-scrollbar {
                height: 10px;
            }

            ::-webkit-scrollbar-track {
                background: #353535;
                border-radius: 10px;
            }

            ::-webkit-scrollbar-thumb {
                background-color: #4caf50;
                border-radius: 10px;
                border: 2px solid #4caf50;
            }

            .summary {
                .summary-bonus-text {
                    min-height: 80px;
                    margin-top: 0;
                    border-radius: 10px;
                    display: flex;
                    align-items: center;
                    align-content: center;
                    justify-content: center;

                    p {
                        margin: 0;
                        color: #000;
                        font-size: 2rem;
                        text-align: center;
                        font-weight: bold;
                    }
                }

                .review-list {
                    display: grid;
                    grid-template-columns: 250px 160px 1fr;
                    /* Set your desired column sizes */
                    grid-column-gap: 12px;
                    margin: 0;
                    padding-left: 0 !important;
                    overflow-x: auto;

                    li {
                        list-style: none !important;
                        border-radius: 10px;
                        padding: 10px 10px 20px 25px !important;
                        margin-bottom: 12px !important;

                        &::before {
                            content: none !important;
                        }

                        .summary-list-heading {
                            font: 500 13px / 16px Inter, sans-serif;
                            margin-bottom: 6px;
                        }

                        .summary-list-body {
                            font: 600 16px / 19.5px Inter, sans-serif;
                            max-height: 100px;
                            color: #fff;
                            -ms-overflow-style: none;
                            scrollbar-width: none;
                            margin: 0 !important;
                        }
                    }

                    li:last-child {
                        grid-column: 1 / -1;
                        /* Take all the columns from the first to the last */
                        min-height: 85px;
                        display: flex;
                        align-content: center;
                        align-items: center;
                        justify-content: center;

                        p {
                            color: #000000;
                            font-weight: 900;
                            font-size: 22px;
                            margin: 0;
                        }
                    }
                }

                @media (max-width: 768px) {
                    .summary .review-list {
                        grid-template-columns: 1fr 1fr;
                        /* Two columns for medium-sized screens */
                        grid-column-gap: 12px;
                    }

                    .summary .review-list li:last-child {
                        grid-column: 1 / -1;
                        /* Take all columns on this row (both in this case) */
                    }
                }

                @media (max-width: 480px) {
                    .summary .review-list {
                        grid-template-columns: 1fr;
                        /* Single column for small screens */
                    }

                    .summary .review-list li:last-child {
                        grid-column: 1 / -1;
                        /* Take full width on small screens */
                    }
                }
            }

        }
    }

    .review-content {
        flex: 2;

        .review-meta {
            margin-bottom: 20px;
            font-size: 16px;
            color: $paragraph-color;

            strong {
                color: $heading-color;
            }

            p {
                margin: 5px 0;
            }
        }

        .paragraph {
            font-size: 16px;
            line-height: 1.6;
            color: $paragraph-color;

            a {
                color: $rating-color;
                text-decoration: underline;

                &:hover {
                    color: darken($rating-color, 10%);
                }
            }
        }
    }

    .review-table-wrapper {
        padding: 15px;
        background-color: #262626;
        border-radius: 10px;

        .review-table {
            width: 100%;
            border-collapse: collapse; // Remove default spacing between table borders
            margin-top: 0px;

            thead {
                background-color: #0DB6FF; // Header background color
                color: #fff; // Header text color

                th {
                    text-align: left;
                    padding: 10px;
                    font-size: 16px;
                }
            }

            tbody {
                tr {
                    border-bottom: 1px solid #353535; // Border between rows

                    td {
                        padding: 10px;
                        font-size: 15px;
                        color: #fff;

                        &:first-child {
                            font-weight: bold; // Make the feature name bold
                        }
                    }
                }
            }

            // Mobile adjustments
            @media (max-width: 768px) {

                th,
                td {
                    padding: 8px;
                    font-size: 14px;
                }
            }
        }
    }

}