* {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

body {
    background-color: #262626;
}

a {
    text-decoration: none;
    color: #ffffff;
    font-weight: 600;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #ffffff;
}

h1 {
    font-size: 50px;
    font-weight: 800;
    line-height: 60.51px;
    background: linear-gradient(90deg, #0DB6FF 0%, #02FFED 49.15%, #FFFFFF 98.29%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

h2 {
    font-size: 50px;
    font-weight: 800;
    line-height: 60.51px;
    text-align: center;
    background: linear-gradient(90deg, #0DB6FF 0%, #02FFED 49.15%, #FFFFFF 98.29%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

p {
    font-family: Inter;
    font-size: 22px;
    font-weight: 300;
    line-height: 30px;
    text-align: left;
    color: #ffffff;
    padding-bottom: 35px;
}

#main {

    ul,
    ol {
        color: #ffffff;
        padding-left: 30px;
    }

    ul {
        list-style: none;
    }

    ul li {
        position: relative;
        padding-left: 25px;
        margin-bottom: 10px;
    }

    ul li::before {
        content: "";
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        width: 17.5px;
        height: 17.5px;
        border-radius: 50%;
        background: linear-gradient(180deg, #0DB6FF 0%, #02FFED 48%, #FFFFFF 100%);
    }


    ol {
        list-style: none;
        counter-reset: list-counter;
        position: relative;
    }

    ol li {
        position: relative;
        counter-increment: list-counter;
        margin-bottom: 10px;
        padding-left: 25px;
    }

    ol li::before {
        content: counter(list-counter);
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        font-weight: bold;
        font-size: 17.5px;
        background: linear-gradient(180deg, #0DB6FF 0%, #02FFED 48%, #FFFFFF 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    li {
        color: #ffffff;
    }

}

b,
strong {
    color: #0DB6FF;
    ;
}

// Theme classes 

#main {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 15px;
}

.block-container {
    background-color: #353535;
    padding-top: 40px;
    padding-bottom: 35px;
    padding-left: 35px;
    padding-right: 35px;
    border-radius: 10px;
    margin-bottom: 80px;
}

.container-border {
    border-left: 7px solid;
    border-image-source: linear-gradient(90deg, #0DB6FF 0%, #02FFED 47.5%, #FFFFFF 100%);
    border-image-slice: 1;
}

.btn {
    padding: 10px 20px;
    border: 3px solid #ffffff00;
    cursor: pointer;
    border-radius: 8px;
}

.blue-btn {
    background-color: #0DB6FF;
    border: 3px solid #0DB6FF;
    color: #000000;
}

.green-btn {
    background-color: #28D759;
    border: 3px solid #28D759;
    color: #000000;
}

.trans-btn {
    background:
        linear-gradient(#353535, #353535) padding-box,
        linear-gradient(180deg, #0DB6FF 0%, #02FFED 51.5%, #FFFFFF 100%) border-box;
    color: #fff;
    border: 4px solid transparent;
    border-radius: 8px;
}

.blue-border {
    background:
        linear-gradient(#353535, #353535) padding-box,
        linear-gradient(180deg, #0DB6FF 0%, #02FFED 51.5%, #FFFFFF 100%) border-box;
    color: #fff;
    border: 4px solid transparent;
    border-radius: 8px;
}

.blue-border-left {
    border-left: 7px solid;
    border-color: #0DB6FF;
    border-radius: 8px;
}