.h1-block {
    .block-container {
        .heading-text {
            h1 {
                text-align: center;
                font-size: 4rem;
                text-align: center;
                margin: 0;

                @media (max-width: 991px) {
                    font-size: 2.5rem;
                }

                @media (max-width: 768px) {
                    font-size: 2rem;
                }

                @media (max-width: 425px) {
                    font-size: 1.5rem;
                }
            }
        }
    }
}